.block-title.is-banner {
  position: relative;
  padding-right: 48px;
  display: inline-flex;
  align-items: center;
  height: 16px;
  border-radius: 2px;
  margin-bottom: 8px;
}

.block-title.is-banner::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background-color: #fff;
  top: 0;
  left: calc(100% - 13px);
  z-index: 1;
  transform-origin: center;
  transform: rotate(45deg);
}

.block-title.is-tag {
  position: relative;
  padding-right: 8px;
  display: inline-flex;
  align-items: center;
  height: 16px;
  border-radius: 2px;
  margin-bottom: 8px;
}

.specific-container + .specific-container {
  margin-top: 16px;
}

.specific-title-note {
  letter-spacing: 0.2px;
}
